html {
	height:100%;
}

body {
	background-color: #4775d1 /* blue 1 */;
	margin:0px;
	height:100%;
}

/* Aniamtion code found from W3Schools and their examples, http://www.w3schools.com/css/css3_animations.asp*/

#divMoving { /* for prototype page only */
	height:25%;
	background:#009933;
	opacity:0.3;
	-webkit-animation-play-state: paused;  /* Chrome, Safari, Opera */
    animation-play-state: paused;
	position: relative;
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-duration: 4s;
	-webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
    animation-timing-function: ease-in-out; 
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-direction: alternate;
}

#divMoving:hover { /* for prototype page only */
	-webkit-animation: mymove 4s infinite;  /* Chrome, Safari, Opera */
    animation: mymove 4s infinite;
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-duration: 4s;
	-webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
   /animation-timing-function: ease-in-out; 
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-direction: alternate;
}

@-webkit-keyframes mymove { /* for prototype page only */
    from {top: 0px;}
    to {top: 75%;}
}

@keyframes mymove { /* for prototype page only */
    from {top: 0px;}
    to {top: 75%;}
}

#div2 { /* for prototype page only */
	height:25%;
	background:#5c85d6; /* blue 2 */
}

#div3 { /* for prototype page only */
	height:25%;
	background:#7094db; /* blue 3 */
}

#div4 { /* for prototype page only */
	height:25%;
	background:#85a3e0; /* blue 4 */
}

#long { /* for test page only*/
	height: 5000px;
	  /* code from http://www.w3schools.com/css/css3_gradients.asp */
	  background: #0000cc; /* For browsers that do not support gradients */
	  background: -webkit-ease-in-gradient(#0000cc, #00ffff, #339933); /* For Safari 5.1 to 6.0 */
	  background: -o-ease-in-gradient(#0000cc, #00ffff, #339933); /* For Opera 11.1 to 12.0 */
	  background: -moz-ease-in-gradient(#0000cc, #00ffff, #339933); /* For Firefox 3.6 to 15 */
	  background: ease-in-gradient(#0000cc, #00ffff, #339933); /* Standard syntax */
	
}